@define-color fg #ebdbb2;
@define-color bg #f7f1e3;

@define-color black #000000;
@define-color red #cc241d;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #ccffee;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

window {
  background-color: rgba(40, 40, 40, 0.5);
  font-family: Sauce Code Pro Nerd Font;
  font-size: 80px;
  border-radius: 20px;
  border-width: 3px;
  border-color: #000000;
}

grid {
  border-radius: 30px;
  margin: 200px 400px;
  padding: 10px;
  background-color: @bg;
}

button {
  border-radius: 20px;
  border-width: 3px;
  border-color: @bg;
  outline-style: none;
  margin: 10px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: center;
  background-color: @bg;
}

button:focus,
button:active {
  border-color: #000000;
}

#shutdown {
  color: @black;
}

#reboot {
  color: @black;
}

#logout {
  color: @black;
}
